<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Completer Votre Profile</title>
    <link rel = "stylesheet" type = "text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>

</head>
<body>
    <div class = "container text-center">
        <div>
            <h1>Formulaire</h1>
        </div>
        <form th:action="@{/save_candidat}" method="post"
              th:object="${candidat}">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label >Nom</label>
                        <input class="form-control" type="text" name="" placeholder="Entrer votre nom" th:field ="*{candidat_nom}">
                    </div>
                    <div class="col-md-6">
                        <label >Prénom</label>
                        <input class="form-control" type="text" name="" placeholder="Entrer votre prénom" th:field ="*{candidat_prenom}" >
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label >Mail</label>
                        <input class="form-control" type="text" name="" placeholder="Entrer votre mail" th:field="*{candidat_email}">
                    </div>
                    <div class="col-md-6">
                        <label >Numéro</label>
                        <input  class="form-control" type="text" name="" placeholder="Entrer votre numéro" th:field="*{candidat_phone}">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label >Profil</label>
                        <input  class="form-control" type="text" name="" placeholder="quel est votre profil" th:field ="*{candidat_profil}">
                    </div>
                    <div class="col-md-6">
                        <label>Naissance</label>
                        <input class="form-control" type="date"  th:field="*{candidat_date_naissance}">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label>Adresse</label>
                        <input class="form-control" type="text" name="" placeholder="Entrer votre adresse" th:field="*{candidat_adresse}">
                    </div>
                    <div class="col-md-6">
                        <label>Ville</label>
                        <input class="form-control" type="text" name="" placeholder="Entrer votre ville" th:field="*{candidat_ville}">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label>Pays</label>
                        <input class="form-control" type="text" name="" placeholder="Entrer votre pays" th:field="*{candidat_pays}">
                    </div>
                    <div class="col-md-6">
                        <label for="formFile" class="form-label">Default file input example</label>
                        <input class="form-control" type="file" id="formFile" th:field="*{candidat_image}">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Sexe</label>
                <input type="radio" id="h" name="sexe" value="Masculin" th:field ="*{candidat_sex}"/>
                <label for="h">Masculin</label>
                <input type="radio" id="f" name="sexe" value="Féminin" th:field ="*{candidat_sex}"/>
                <label for="f">Féminin</label>
            </div>

            <div class="panel-footer">
                <button type="submit" class="btn btn-primary">sauvgarder</button>
            </div>
        </form>
    </div>

</body>
</html>