<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Registration Succeded</title>
<link rel = "stylesheet" type = "text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>

</head>
<body>
	<div class = "container text-center">
		<div>
			<h3>Wellcome, You have signed up succesfully!</h3>
			<h4><a th:href="@{/login}">Continue as Condidat</a></h4>
			<h4><a th:href="@{/login}">Continue as Recruteur</a></h4>
		</div>
		
	</div>
	
</body>
</html>